.numefac>p:first-child {
    font-size: 30px;
}

.ancolorat {
    color: blue;
    margin-left: 30px;
    font-size: 20px;
    cursor: pointer;
}

.ancolorat:hover {
    text-decoration: underline;
}

body {
    display: flex;
    flex-direction: column;
}

table {
    margin-left: 300px;
}

table>thead>tr>td {
    border: solid 1px black;
}

table>tbody>tr>td {
    border: solid 1px black;
}

thead {
    font-weight: 600;
}